html {
  height: 100%;
  color: green;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
}

header {
  display: flex;
  background-color: black;
  border-bottom: 1px solid green;
  height: 40px;
  justify-content: space-around;
  align-items: center;
  padding-top: 5px;
  font-size: 22px;
  font-family: 'Courier New', Courier, monospace;
}

.wrapper {
  height: 100%;
}


.mainwrapper {
  display: flex;
  height: 100%;
  background-color: black;
}

main {
  margin: auto 12px auto 12px;
}


.slideout {
  font-size: 22px;
  align-self: flex-start;
  background-color: gray;
  height: 100%;
}

.content {
}

a {
  color: green;
}