html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

.wrapper {
  height: 100%;
}

main {
  border: 1px solid black;
}

.mainwrapper {
  display: flex;
  height: 100%;
}

.slideout {
  font-size: 22px;
  align-self: flex-start;
  border-right: 1px solid red;
}