html,
body {
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  color: white;
  background-color: #282c34;
}

main {
  display: flex;
  flex-direction: column;
}

main > h1,
h2 {
  text-align: center;
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  display: flex;
  align-items: center;
  padding: 10px 5px 10px 5px;
  background-color: #1f1f1f;
  border-bottom: 1px solid white;
  box-sizing: border-box;
}

#header-buttons {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
}

#pfp {
  height: 3rem;
}

#header-buttons > a {
  text-decoration: none;
  color: white;
}

article {
  margin: 0px 10px 0px 10px;
}

article > h1 {
  font-size: 2rem;
}

#sourceiconcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sourceiconcontainer > h3 {
}

#sourceicon {
  padding: 10px;
  height: 3rem;
}
