html,
body {
  height: 100%;
  margin: 0;
}

@font-face {
  font-family: Hack;
  src: url(./assets/fonts/Hack-Regular.ttf);
}

@media only screen and (max-width: 768px) {
  #articlename {
  justify-self: center;
  }
}

.container {
  display: grid;
  color: #dcd7ba;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 6fr 0.5fr;
}

#header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-around;
  font-family: Hack;
  grid-column: 1;
  grid-row-start: 1;
  background-color: #2a2a37;
  padding: 0px 20px 0px 20px;
  border-bottom: 2px solid #16161d;
}

#articlename {
  background-color: #1f1f28;
  width: fit-content;
  height: fit-content;
  padding: 10px 10px 10px 10px;
  font-size: 1.5rem;
  grid-row-start: 2;
}

#content {
  background-color: #1f1f28;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10%;
  padding-left: 10%;
}

#articles {
  display: flex;
  flex-direction: column;
}

#blogpost {
  padding: 0px 5px 0px 20px;
  background-color: #252535;
  margin: 20px 20px 0px 20px;
  max-width: 600px;
  border: 2px solid #54546d;
  height: fit-content;
  font-family: Hack;
}

#announcements {
  font-family: "Roboto";

  background-color: #252535;
  border: 2px solid #54546d;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: span 3;
  margin-right: 20px;
  margin-top: 20px;
}

#announcements > h1 {
  font-size: 1.5rem;
  text-align: center;
}

#announcements > h2 {
  font-size: 1.2rem;
  text-align: center;
}

#announcements > p {
  font-size: 1rem;
  text-align: center;
}

#trending {
  grid-column-start: 2;
  border: 2px solid #81a5a8;
  grid-row-start: 3;
  margin-right: 20px;
}

#footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2a2a37;
  grid-row-start: 3;

  border-top: 2px solid #16161d;
  font-size: 1rem;
  color: #a5aab5;
  font-family: Hack;
}
