1.kra.png filter=lfs diff=lfs merge=lfs -text
Hand6.kra.png filter=lfs diff=lfs merge=lfs -text
HandRef.kra.png filter=lfs diff=lfs merge=lfs -text
HandRef2.kra.png filter=lfs diff=lfs merge=lfs -text
Katana.kra.png filter=lfs diff=lfs merge=lfs -text
2-incomplete.kra.png filter=lfs diff=lfs merge=lfs -text
Hand2.kra.png filter=lfs diff=lfs merge=lfs -text
Hand4.kra.png filter=lfs diff=lfs merge=lfs -text
HandRef3.kra.png filter=lfs diff=lfs merge=lfs -text
Cubes.kra.png filter=lfs diff=lfs merge=lfs -text
HandRef4.kra.png filter=lfs diff=lfs merge=lfs -text
HumanSkullRef.kra.png filter=lfs diff=lfs merge=lfs -text
Cubes1.kra.png filter=lfs diff=lfs merge=lfs -text
CurvedPlanes1.kra.png filter=lfs diff=lfs merge=lfs -text
Hand.kra.png filter=lfs diff=lfs merge=lfs -text
Hand3.kra.png filter=lfs diff=lfs merge=lfs -text
Hand5.kra.png filter=lfs diff=lfs merge=lfs -text
Nightmare.kra.png filter=lfs diff=lfs merge=lfs -text
